<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokédex_svg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC5E11A1D99C4B0008D2E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC5E1361D99C4B1008D2E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC5E1411D99C4B1008D2E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
