<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Countries.plist
   Pokédex

   Created by Antoine Barbez on 26/12/2016.
   Copyright (c) 2016 Antoine Barbez. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
