<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fr</key>
		<string>Afghanistan</string>
		<key>en</key>
		<string>Afghanistan</string>
		<key>persons</key>
		<array/>
		<key>position</key>
		<array>
			<string>7.766</string>
			<string>2.985</string>
		</array>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.313</string>
			<string>5.234</string>
		</array>
		<key>persons</key>
		<array/>
		<key>fr</key>
		<string>Afrique du Sud</string>
		<key>en</key>
		<string>South-Africa</string>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.409</string>
			<string>2.799</string>
		</array>
		<key>Persons</key>
		<array/>
		<key>fr</key>
		<string>Albanie</string>
		<key>en</key>
		<string>Albania</string>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.504</string>
			<string>3.034</string>
		</array>
		<key>persons</key>
		<array/>
		<key>fr</key>
		<string>Algérie</string>
		<key>en</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.991</string>
			<string>2.233</string>
		</array>
		<key>persons</key>
		<array/>
		<key>fr</key>
		<string>Allemagne</string>
		<key>en</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Andorre</string>
		<key>en</key>
		<string>Andorra</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.174</string>
			<string>4.644</string>
		</array>
		<key>fr</key>
		<string>Angola</string>
		<key>en</key>
		<string>Angola</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Antigua-et-Barbuda</string>
		<key>en</key>
		<string>Antigua-and-Barbuda</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.907</string>
			<string>3.237</string>
		</array>
		<key>fr</key>
		<string>Arabie Saoudite</string>
		<key>en</key>
		<string>Saudi-Arabia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.36</string>
			<string>5.235</string>
		</array>
		<key>fr</key>
		<string>Argentine</string>
		<key>en</key>
		<string>Argentina</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.192</string>
			<string>2.859</string>
		</array>
		<key>fr</key>
		<string>Arménie</string>
		<key>en</key>
		<string>Armenia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.443</string>
			<string>4.827</string>
		</array>
		<key>fr</key>
		<string>Australie</string>
		<key>en</key>
		<string>Australia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.108</string>
			<string>2.511</string>
		</array>
		<key>fr</key>
		<string>Autriche</string>
		<key>en</key>
		<string>Austria</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.242</string>
			<string>2.835</string>
		</array>
		<key>fr</key>
		<string>Azerbaïdjan</string>
		<key>en</key>
		<string>Azerbaijan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.205</string>
			<string>3.508</string>
		</array>
		<key>fr</key>
		<string>Bahamas</string>
		<key>en</key>
		<string>Bahamas</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Bahreïn</string>
		<key>en</key>
		<string>Bahrain</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.658</string>
			<string>3.471</string>
		</array>
		<key>fr</key>
		<string>Bangladesh</string>
		<key>en</key>
		<string>Bangladesh</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Barbade</string>
		<key>en</key>
		<string>Barbados</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.873</string>
			<string>2.397</string>
		</array>
		<key>fr</key>
		<string>Belgique</string>
		<key>en</key>
		<string>Belgium</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.848</string>
			<string>3.764</string>
		</array>
		<key>fr</key>
		<string>Bélize</string>
		<key>en</key>
		<string>Belize</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.816</string>
			<string>3.985</string>
		</array>
		<key>fr</key>
		<string>Bénin</string>
		<key>en</key>
		<string>Benin</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.679</string>
			<string>3.397</string>
		</array>
		<key>fr</key>
		<string>Bhoutan</string>
		<key>en</key>
		<string>Bhutan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.538</string>
			<string>2.163</string>
		</array>
		<key>fr</key>
		<string>Biélorussie</string>
		<key>en</key>
		<string>Belarus</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.774</string>
			<string>3.387</string>
		</array>
		<key>fr</key>
		<string>Birmanie</string>
		<key>en</key>
		<string>Burma</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.491</string>
			<string>4.789</string>
		</array>
		<key>fr</key>
		<string>Bolivie</string>
		<key>en</key>
		<string>Bolivia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.299</string>
			<string>2.685</string>
		</array>
		<key>fr</key>
		<string>Bosnie</string>
		<key>en</key>
		<string>Bosnia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.426</string>
			<string>5.08</string>
		</array>
		<key>fr</key>
		<string>Botswana</string>
		<key>en</key>
		<string>Botswana</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.351</string>
			<string>4.248</string>
		</array>
		<key>fr</key>
		<string>Brésil</string>
		<key>en</key>
		<string>Brazil</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.478</string>
			<string>4.267</string>
		</array>
		<key>fr</key>
		<string>Brunei</string>
		<key>en</key>
		<string>Brunei</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.508</string>
			<string>2.731</string>
		</array>
		<key>fr</key>
		<string>Bulgarie</string>
		<key>en</key>
		<string>Bulgaria</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.608</string>
			<string>3.887</string>
		</array>
		<key>fr</key>
		<string>Burkina Faso</string>
		<key>en</key>
		<string>Burkina-Faso</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.72</string>
			<string>4.517</string>
		</array>
		<key>fr</key>
		<string>Burundi</string>
		<key>en</key>
		<string>Burundi</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.695</string>
			<string>3.912</string>
		</array>
		<key>fr</key>
		<string>Cambodge</string>
		<key>en</key>
		<string>Cambodia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.072</string>
			<string>3.959</string>
		</array>
		<key>fr</key>
		<string>Cameroun</string>
		<key>en</key>
		<string>Cameroon</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>1.143</string>
			<string>0.383</string>
		</array>
		<key>fr</key>
		<string>Canada</string>
		<key>en</key>
		<string>Canada</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Cap-Vert</string>
		<key>en</key>
		<string>Cape-Verde</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.262</string>
			<string>4.031</string>
		</array>
		<key>fr</key>
		<string>Centrafrique</string>
		<key>en</key>
		<string>Central-African-Republic</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.29</string>
			<string>5.071</string>
		</array>
		<key>fr</key>
		<string>Chili</string>
		<key>en</key>
		<string>Chile</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.204</string>
			<string>2.309</string>
		</array>
		<key>fr</key>
		<string>Chine</string>
		<key>en</key>
		<string>China</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.83</string>
			<string>3.085</string>
		</array>
		<key>fr</key>
		<string>Chypre</string>
		<key>en</key>
		<string>Cyprus</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.182</string>
			<string>3.985</string>
		</array>
		<key>fr</key>
		<string>Colombie</string>
		<key>en</key>
		<string>Colombia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Comores</string>
		<key>en</key>
		<string>Comoros</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.155</string>
			<string>4.298</string>
		</array>
		<key>fr</key>
		<string>Congo</string>
		<key>en</key>
		<string>Republic-of-the-Congo</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.186</string>
			<string>4.239</string>
		</array>
		<key>fr</key>
		<string>République démocratique du Congo</string>
		<key>en</key>
		<string>Democratic-Republic-of-the-Congo</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Îles Cook</string>
		<key>en</key>
		<string>Cook-Islands</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.817</string>
			<string>2.792</string>
		</array>
		<key>fr</key>
		<string>Corée du Nord</string>
		<key>en</key>
		<string>North-Korea</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.885</string>
			<string>2.985</string>
		</array>
		<key>fr</key>
		<string>Corée de Sud</string>
		<key>en</key>
		<string>South-Korea</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.956</string>
			<string>4.036</string>
		</array>
		<key>fr</key>
		<string>Costa Rica</string>
		<key>en</key>
		<string>Costa-Rica</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.51</string>
			<string>4.049</string>
		</array>
		<key>fr</key>
		<string>Côte d&apos;Ivoire</string>
		<key>en</key>
		<string>Cote-d&apos;Ivoire</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.24</string>
			<string>2.626</string>
		</array>
		<key>fr</key>
		<string>Croatie</string>
		<key>en</key>
		<string>Croatia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.001</string>
			<string>3.588</string>
		</array>
		<key>fr</key>
		<string>Cuba</string>
		<key>en</key>
		<string>Cuba</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.056</string>
			<string>2.087</string>
		</array>
		<key>fr</key>
		<string>Danemark</string>
		<key>en</key>
		<string>Denmark</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.134</string>
			<string>3.973</string>
		</array>
		<key>fr</key>
		<string>Djibouti</string>
		<key>en</key>
		<string>Djibouti</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.418</string>
			<string>3.714</string>
		</array>
		<key>fr</key>
		<string>République Dominicaine</string>
		<key>en</key>
		<string>Dominican-Republic</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Dominique</string>
		<key>en</key>
		<string>Dominica</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.585</string>
			<string>3.246</string>
		</array>
		<key>fr</key>
		<string>Egypte</string>
		<key>en</key>
		<string>Egypt</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.472</string>
			<string>3.468</string>
		</array>
		<key>fr</key>
		<string>Emirats Arabes Unis</string>
		<key>en</key>
		<string>United-Arab-Emirates</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.771</string>
			<string>4.381</string>
		</array>
		<key>fr</key>
		<string>Equateur</string>
		<key>en</key>
		<string>Ecuador</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.961</string>
			<string>3.777</string>
		</array>
		<key>fr</key>
		<string>Erythée</string>
		<key>en</key>
		<string>Eritrea</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.486</string>
			<string>2.752</string>
		</array>
		<key>fr</key>
		<string>Espagne</string>
		<key>en</key>
		<string>Spain</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.499</string>
			<string>1.985</string>
		</array>
		<key>fr</key>
		<string>Estonie</string>
		<key>en</key>
		<string>Estonia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0.26</string>
			<string>1.299</string>
		</array>
		<key>fr</key>
		<string>Etats-Unis</string>
		<key>en</key>
		<string>United-States</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.846</string>
			<string>3.894</string>
		</array>
		<key>fr</key>
		<string>Ethiopie</string>
		<key>en</key>
		<string>Ethiopia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>11.566</string>
			<string>5.038</string>
		</array>
		<key>fr</key>
		<string>Fidji</string>
		<key>en</key>
		<string>Fiji</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.467</string>
			<string>1.372</string>
		</array>
		<key>fr</key>
		<string>Finlande</string>
		<key>en</key>
		<string>Finland</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.633</string>
			<string>2.417</string>
		</array>
		<key>fr</key>
		<string>France</string>
		<key>en</key>
		<string>France</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.082</string>
			<string>4.349</string>
		</array>
		<key>fr</key>
		<string>Gabon</string>
		<key>en</key>
		<string>Gabon</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.243</string>
			<string>3.931</string>
		</array>
		<key>fr</key>
		<string>Gambie</string>
		<key>en</key>
		<string>Gambia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.078</string>
			<string>2.759</string>
		</array>
		<key>fr</key>
		<string>Géorgie</string>
		<key>en</key>
		<string>Georgia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.685</string>
			<string>4.032</string>
		</array>
		<key>fr</key>
		<string>Ghana</string>
		<key>en</key>
		<string>Ghana</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.439</string>
			<string>2.837</string>
		</array>
		<key>fr</key>
		<string>Grèce</string>
		<key>en</key>
		<string>Greece</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Grenade</string>
		<key>en</key>
		<string>Grenada</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.737</string>
			<string>3.787</string>
		</array>
		<key>fr</key>
		<string>Guatemala</string>
		<key>en</key>
		<string>Guatemala</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.294</string>
			<string>3.975</string>
		</array>
		<key>fr</key>
		<string>Guinée</string>
		<key>en</key>
		<string>Guinea</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.25</string>
			<string>3.975</string>
		</array>
		<key>fr</key>
		<string>Guinée-Bissau</string>
		<key>en</key>
		<string>Guinea-Bissau</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.099</string>
			<string>4.351</string>
		</array>
		<key>fr</key>
		<string>Guinée Equatoriale</string>
		<key>en</key>
		<string>Equatorial-Guinea</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.768</string>
			<string>4.131</string>
		</array>
		<key>fr</key>
		<string>Guyana</string>
		<key>en</key>
		<string>Guyana</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.331</string>
			<string>3.702</string>
		</array>
		<key>fr</key>
		<string>Haïti</string>
		<key>en</key>
		<string>Haiti</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.844</string>
			<string>3.852</string>
		</array>
		<key>fr</key>
		<string>Honduras</string>
		<key>en</key>
		<string>Honduras</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.315</string>
			<string>2.528</string>
		</array>
		<key>fr</key>
		<string>Hongrie</string>
		<key>en</key>
		<string>Hungary</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.022</string>
			<string>3.105</string>
		</array>
		<key>fr</key>
		<string>Inde</string>
		<key>en</key>
		<string>India</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.867</string>
			<string>4.236</string>
		</array>
		<key>fr</key>
		<string>Indonésie</string>
		<key>en</key>
		<string>Indonesia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.043</string>
			<string>3.021</string>
		</array>
		<key>fr</key>
		<string>Iraq</string>
		<key>en</key>
		<string>Iraq</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.218</string>
			<string>2.919</string>
		</array>
		<key>fr</key>
		<string>Iran</string>
		<key>en</key>
		<string>Iran</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.42</string>
			<string>2.219</string>
		</array>
		<key>fr</key>
		<string>Irlande</string>
		<key>en</key>
		<string>Ireland</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>4.997</string>
			<string>1.597</string>
		</array>
		<key>fr</key>
		<string>Islande</string>
		<key>en</key>
		<string>Iceland</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.89</string>
			<string>3.187</string>
		</array>
		<key>fr</key>
		<string>Israël</string>
		<key>en</key>
		<string>Israel</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.611</string>
			<string>2.604</string>
		</array>
		<key>fr</key>
		<string>Italie</string>
		<key>en</key>
		<string>Italy</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.201</string>
			<string>3.763</string>
		</array>
		<key>fr</key>
		<string>Jamaïque</string>
		<key>en</key>
		<string>Jamaica</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.996</string>
			<string>2.686</string>
		</array>
		<key>fr</key>
		<string>Japon</string>
		<key>en</key>
		<string>Japan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.915</string>
			<string>3.185</string>
		</array>
		<key>fr</key>
		<string>Jordanie</string>
		<key>en</key>
		<string>Jordan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.3</string>
			<string>2.214</string>
		</array>
		<key>fr</key>
		<string>Kazakhstan</string>
		<key>en</key>
		<string>Kazakhstan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.875</string>
			<string>4.254</string>
		</array>
		<key>fr</key>
		<string>Kenya</string>
		<key>en</key>
		<string>Kenya</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.058</string>
			<string>2.78</string>
		</array>
		<key>fr</key>
		<string>Kirghistan</string>
		<key>en</key>
		<string>Kyrgyzstan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Kiribati</string>
		<key>en</key>
		<string>Kiribati</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.299</string>
			<string>3.315</string>
		</array>
		<key>fr</key>
		<string>Koweït</string>
		<key>en</key>
		<string>Kuwait</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.024</string>
			<string>3.619</string>
		</array>
		<key>fr</key>
		<string>Laos</string>
		<key>en</key>
		<string>Laos</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.651</string>
			<string>5.484</string>
		</array>
		<key>fr</key>
		<string>Lesotho</string>
		<key>en</key>
		<string>Lesotho</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.465</string>
			<string>2.067</string>
		</array>
		<key>fr</key>
		<string>Lettonie</string>
		<key>en</key>
		<string>Lativa</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.921</string>
			<string>3.129</string>
		</array>
		<key>fr</key>
		<string>Liban</string>
		<key>en</key>
		<string>Lebanon</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.411</string>
			<string>4.128</string>
		</array>
		<key>fr</key>
		<string>Liberia</string>
		<key>en</key>
		<string>Liberia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.101</string>
			<string>3.2</string>
		</array>
		<key>fr</key>
		<string>Libye</string>
		<key>en</key>
		<string>Libya</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Liechtenstein</string>
		<key>en</key>
		<string>Liechtenstein</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.463</string>
			<string>2.15</string>
		</array>
		<key>fr</key>
		<string>Lituanie</string>
		<key>en</key>
		<string>Lithuania</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.981</string>
			<string>2.461</string>
		</array>
		<key>fr</key>
		<string>Luxembourg</string>
		<key>en</key>
		<string>Luxembourg</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.449</string>
			<string>2.807</string>
		</array>
		<key>fr</key>
		<string>Macédoine</string>
		<key>en</key>
		<string>Macedonia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.179</string>
			<string>4.862</string>
		</array>
		<key>fr</key>
		<string>Madagascar</string>
		<key>en</key>
		<string>Madagascar</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.017</string>
			<string>4.197</string>
		</array>
		<key>fr</key>
		<string>Malaisie</string>
		<key>en</key>
		<string>Malaysia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.837</string>
			<string>4.777</string>
		</array>
		<key>fr</key>
		<string>Malawi</string>
		<key>en</key>
		<string>Malawi</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Maldives</string>
		<key>en</key>
		<string>Maldives</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.384</string>
			<string>3.515</string>
		</array>
		<key>fr</key>
		<string>Mali</string>
		<key>en</key>
		<string>Mali</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Malte</string>
		<key>en</key>
		<string>Malta</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.36</string>
			<string>3.088</string>
		</array>
		<key>fr</key>
		<string>Maroc</string>
		<key>en</key>
		<string>Morocco</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Îles Marshall</string>
		<key>en</key>
		<string>Marshall-Islands</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Maurice</string>
		<key>en</key>
		<string>Mauritius</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.231</string>
			<string>3.427</string>
		</array>
		<key>fr</key>
		<string>Mauritanie</string>
		<key>en</key>
		<string>Mauritania</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>1.935</string>
			<string>3.217</string>
		</array>
		<key>fr</key>
		<string>Mexique</string>
		<key>en</key>
		<string>Mexico</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Micronésie</string>
		<key>en</key>
		<string>Micronesia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.655</string>
			<string>2.535</string>
		</array>
		<key>fr</key>
		<string>Moldavie</string>
		<key>en</key>
		<string>Moldova</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Monaco</string>
		<key>en</key>
		<string>Monaco</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.651</string>
			<string>2.376</string>
		</array>
		<key>fr</key>
		<string>Mongolie</string>
		<key>en</key>
		<string>Mongolia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.384</string>
			<string>2.768</string>
		</array>
		<key>fr</key>
		<string>Monténégro</string>
		<key>en</key>
		<string>Montenegro</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.753</string>
			<string>4.811</string>
		</array>
		<key>fr</key>
		<string>Mozambique</string>
		<key>en</key>
		<string>Mozambique</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.174</string>
			<string>5.05</string>
		</array>
		<key>fr</key>
		<string>Namibie</string>
		<key>en</key>
		<string>Namibia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Nauru</string>
		<key>en</key>
		<string>Nauru</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.41</string>
			<string>3.313</string>
		</array>
		<key>fr</key>
		<string>Népal</string>
		<key>en</key>
		<string>Nepal</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.907</string>
			<string>3.89</string>
		</array>
		<key>fr</key>
		<string>Nicaragua</string>
		<key>en</key>
		<string>Nicaragua</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.797</string>
			<string>3.573</string>
		</array>
		<key>fr</key>
		<string>Niger</string>
		<key>en</key>
		<string>Niger</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.881</string>
			<string>3.933</string>
		</array>
		<key>fr</key>
		<string>Nigéria</string>
		<key>en</key>
		<string>Nigeria</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Niue</string>
		<key>en</key>
		<string>Niue</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.956</string>
			<string>0.613</string>
		</array>
		<key>fr</key>
		<string>Norvège</string>
		<key>en</key>
		<string>Norway</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>11.207</string>
			<string>5.749</string>
		</array>
		<key>fr</key>
		<string>Nouvelle-Zélande</string>
		<key>en</key>
		<string>New-Zealand</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.743</string>
			<string>3.513</string>
		</array>
		<key>fr</key>
		<string>Oman</string>
		<key>en</key>
		<string>Oman</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.731</string>
			<string>4.28</string>
		</array>
		<key>fr</key>
		<string>Ouganda</string>
		<key>en</key>
		<string>Uganda</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.611</string>
			<string>2.673</string>
		</array>
		<key>fr</key>
		<string>Ouzbékistan</string>
		<key>en</key>
		<string>Uzbekistan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.779</string>
			<string>3.04</string>
		</array>
		<key>fr</key>
		<string>Pakistan</string>
		<key>en</key>
		<string>Pakistan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Palaos</string>
		<key>en</key>
		<string>Palau</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.918</string>
			<string>3.218</string>
		</array>
		<key>fr</key>
		<string>Palestine</string>
		<key>en</key>
		<string>Palestine</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.052</string>
			<string>4.086</string>
		</array>
		<key>fr</key>
		<string>Panama</string>
		<key>en</key>
		<string>Panama</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>10.366</string>
			<string>4.539</string>
		</array>
		<key>fr</key>
		<string>Papouasie-Nouvelle-Guinée</string>
		<key>en</key>
		<string>Papua-New-Guinea</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.713</string>
			<string>5.139</string>
		</array>
		<key>fr</key>
		<string>Paraguay</string>
		<key>en</key>
		<string>Paraguay</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.895</string>
			<string>2.303</string>
		</array>
		<key>fr</key>
		<string>Pays-Bas</string>
		<key>en</key>
		<string>Netherlands</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.106</string>
			<string>4.441</string>
		</array>
		<key>fr</key>
		<string>Pérou</string>
		<key>en</key>
		<string>Peru</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.588</string>
			<string>3.768</string>
		</array>
		<key>fr</key>
		<string>Philippines</string>
		<key>en</key>
		<string>Philippines</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.254</string>
			<string>2.23</string>
		</array>
		<key>fr</key>
		<string>Pologne</string>
		<key>en</key>
		<string>Poland</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.476</string>
			<string>2.822</string>
		</array>
		<key>fr</key>
		<string>Portugal</string>
		<key>en</key>
		<string>Portugal</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.431</string>
			<string>3.478</string>
		</array>
		<key>fr</key>
		<string>Quatar</string>
		<key>en</key>
		<string>Qatar</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.451</string>
			<string>2.542</string>
		</array>
		<key>fr</key>
		<string>Roumanie</string>
		<key>en</key>
		<string>Romania</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.526</string>
			<string>1.929</string>
		</array>
		<key>fr</key>
		<string>Royaume-Uni</string>
		<key>en</key>
		<string>United-Kingdom</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.422</string>
			<string>0.536</string>
		</array>
		<key>fr</key>
		<string>Russie</string>
		<key>en</key>
		<string>Russia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.713</string>
			<string>4.471</string>
		</array>
		<key>fr</key>
		<string>Rwanda</string>
		<key>en</key>
		<string>Rwanda</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Saint-Christophe-et-Niévès</string>
		<key>en</key>
		<string>Saint-Kitts-and-Nevis</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Sainte-Lucie</string>
		<key>en</key>
		<string>Saint-Lucia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Saint-Marin</string>
		<key>en</key>
		<string>San-Marino</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Saint-Vincent-et-les Grenadines</string>
		<key>en</key>
		<string>Saint-Vincent-and-the-Grenadines</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>10.819</string>
			<string>4.64</string>
		</array>
		<key>fr</key>
		<string>Îles Salomon</string>
		<key>en</key>
		<string>Solomon-Islands</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>2.82</string>
			<string>3.912</string>
		</array>
		<key>fr</key>
		<string>Salvador</string>
		<key>en</key>
		<string>El-Salvador</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Samoa</string>
		<key>en</key>
		<string>Samoa</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Sao Tomé-et-Principe</string>
		<key>en</key>
		<string>Sao-Tome-and-Principe</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.23</string>
			<string>3.832</string>
		</array>
		<key>fr</key>
		<string>Sénégal</string>
		<key>en</key>
		<string>Senegal</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.394</string>
			<string>2.641</string>
		</array>
		<key>fr</key>
		<string>Serbie</string>
		<key>en</key>
		<string>Serbia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Seychelles</string>
		<key>en</key>
		<string>Seychelles</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.354</string>
			<string>4.073</string>
		</array>
		<key>fr</key>
		<string>Sierra Leone</string>
		<key>en</key>
		<string>Sierra-Leone</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Singapour</string>
		<key>en</key>
		<string>Singapore</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.338</string>
			<string>2.487</string>
		</array>
		<key>fr</key>
		<string>Slovaquie</string>
		<key>en</key>
		<string>Slovakia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.213</string>
			<string>2.611</string>
		</array>
		<key>fr</key>
		<string>Slovénie</string>
		<key>en</key>
		<string>Slovenia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.107</string>
			<string>3.997</string>
		</array>
		<key>fr</key>
		<string>Somalie</string>
		<key>en</key>
		<string>Somalia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.493</string>
			<string>3.578</string>
		</array>
		<key>fr</key>
		<string>Soudan</string>
		<key>en</key>
		<string>Sudan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.312</string>
			<string>4.09</string>
		</array>
		<key>fr</key>
		<string>Sri Lanka</string>
		<key>en</key>
		<string>Sri-Lanka</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.16</string>
			<string>1.438</string>
		</array>
		<key>fr</key>
		<string>Suède</string>
		<key>en</key>
		<string>Sweden</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.995</string>
			<string>2.574</string>
		</array>
		<key>fr</key>
		<string>Suisse</string>
		<key>en</key>
		<string>Switzerland</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.877</string>
			<string>4.212</string>
		</array>
		<key>fr</key>
		<string>Suriname</string>
		<key>en</key>
		<string>Suriname</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.769</string>
			<string>5.377</string>
		</array>
		<key>fr</key>
		<string>Swaziland</string>
		<key>en</key>
		<string>Swaziland</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.936</string>
			<string>3.029</string>
		</array>
		<key>fr</key>
		<string>Syrie</string>
		<key>en</key>
		<string>Syria</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.999</string>
			<string>2.88</string>
		</array>
		<key>fr</key>
		<string>Tadjikistan</string>
		<key>en</key>
		<string>Tajikistan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.731</string>
			<string>4.464</string>
		</array>
		<key>fr</key>
		<string>Tanzanie</string>
		<key>en</key>
		<string>Tanzania</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.232</string>
			<string>3.573</string>
		</array>
		<key>fr</key>
		<string>Tchad</string>
		<key>en</key>
		<string>Chad</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.195</string>
			<string>2.418</string>
		</array>
		<key>fr</key>
		<string>République Tchèque</string>
		<key>en</key>
		<string>Czech-Republic</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>8.94</string>
			<string>3.689</string>
		</array>
		<key>fr</key>
		<string>Thaïlande</string>
		<key>en</key>
		<string>Thailand</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.809</string>
			<string>4.737</string>
		</array>
		<key>fr</key>
		<string>Timor-Oriental</string>
		<key>en</key>
		<string>East-Timor</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>5.788</string>
			<string>4.031</string>
		</array>
		<key>fr</key>
		<string>Togo</string>
		<key>en</key>
		<string>Togo</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Tonga</string>
		<key>en</key>
		<string>Tonga</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.75</string>
			<string>4.046</string>
		</array>
		<key>fr</key>
		<string>Trinité-et-Tobago</string>
		<key>en</key>
		<string>Trinidad-and-Tobago</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.035</string>
			<string>3.028</string>
		</array>
		<key>fr</key>
		<string>Tunisie</string>
		<key>en</key>
		<string>Tunisia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.504</string>
			<string>2.802</string>
		</array>
		<key>fr</key>
		<string>Turkménistan</string>
		<key>en</key>
		<string>Turkmenistan</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.629</string>
			<string>2.824</string>
		</array>
		<key>fr</key>
		<string>Turquie</string>
		<key>en</key>
		<string>Turkey</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Tuvalu</string>
		<key>en</key>
		<string>Tuvalu</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.506</string>
			<string>2.353</string>
		</array>
		<key>fr</key>
		<string>Ukraine</string>
		<key>en</key>
		<string>Ukraine</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.861</string>
			<string>5.553</string>
		</array>
		<key>fr</key>
		<string>Uruguay</string>
		<key>en</key>
		<string>Uruguay</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Vanuatu</string>
		<key>en</key>
		<string>Vanuatu</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>0</string>
			<string>0</string>
		</array>
		<key>fr</key>
		<string>Vatican</string>
		<key>en</key>
		<string>Vatican-City</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>3.368</string>
			<string>3.998</string>
		</array>
		<key>fr</key>
		<string>Venezuela</string>
		<key>en</key>
		<string>Venezuela</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>9.089</string>
			<string>3.585</string>
		</array>
		<key>fr</key>
		<string>Viêt Nam</string>
		<key>en</key>
		<string>Vietnam</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>7.166</string>
			<string>3.742</string>
		</array>
		<key>fr</key>
		<string>Yémen</string>
		<key>en</key>
		<string>Yemen</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.489</string>
			<string>4.727</string>
		</array>
		<key>fr</key>
		<string>Zambie</string>
		<key>en</key>
		<string>Zambia</string>
		<key>persons</key>
		<array/>
	</dict>
	<dict>
		<key>position</key>
		<array>
			<string>6.589</string>
			<string>5</string>
		</array>
		<key>fr</key>
		<string>Zimbabwe</string>
		<key>en</key>
		<string>Zimbabwe</string>
		<key>persons</key>
		<array/>
	</dict>
</array>
</plist>
